# Operations in Python

In [1]:
2 + 1

3

In [2]:
4 - 3

1

In [3]:
4 / 2

2.0

In [4]:
4 * 2

8

In [5]:
4 ** 2

16

In [6]:
4 % 3

1

In [7]:
4 // 2

2

In [8]:
4 //3

1

## Variables

In [9]:
#variables are all alphabeticals words or mnumbers in python

In [10]:
print("hello chuku")

hello chuku

In [11]:
print(x)

NameError: name 'x' is not defined

In [12]:

print("x")

x

# assignment Operator

In [13]:
x = 12.04
y = 6.04
z = x + y
print(z)

18.08

In [14]:
print(x + y)

18.08

In [15]:
print(x)

12.04

In [16]:
print("x")

x

In [17]:
z

18.08

In [18]:
y

6.04

In [19]:
mean = (x + y) / 2
print(mean)

9.04

In [21]:
chuku = 12
gozie = chuku
print(gozie)

12

In [22]:
a = 2
b = 2 
a == b

True

In [23]:
# Ex 1


print("gozie")
print("magnus")
print("joy")

gozie
magnus
joy

In [1]:
name = input("what is your name ")
print("hello", name)

what is your name magnus
hello magnus

In [5]:
name = input("what is your name ")
x = "hello"
print(x, name)

what is your name maguns
hello maguns

In [6]:
name = input("what is your name ")
x = "hello"
x +name

what is your name magnus

'hellomagnus'

### datatypes

In [7]:
x = 12
y = 13.04
x + y

25.04

In [8]:
x/y

0.9202453987730062

In [9]:
l = input("Enter lenght of room: ")
b = input("Enter Breadth  of room: ")
area = l*b
print(area, "meters squares")

Enter lenght of room: 12
Enter Breadth  of room: 7

TypeError: can't multiply sequence by non-int of type 'str'

In [11]:
l = input("Enter lenght of room: ")
b = input("Enter Breadth  of room: ")
l,b = float(l), float(b)
area = l*b
print(area, "meters squares")

Enter lenght of room: 12
Enter Breadth  of room: 6
72.0 meters squares

In [12]:
l = input("Enter lenght of room: ")
b = input("Enter Breadth  of room: ")
l = float(l)
b = float(b)
area = l*b
print(area, "meters squares")

Enter lenght of room: 12
Enter Breadth  of room: 6
72.0 meters squares

In [17]:
l = input(float(("Enter lenght of room: "))
b = input(float("Enter breadth of room: "))
area = l*b
print(area, "meters squares")

SyntaxError: invalid syntax (720254627.py, line 2)

In [27]:
b = float(input("Enter breadth of room: "))

Enter breadth of room: 34

In [29]:
l = float(input("Enter the lenght of room : "))
b = float(input("Enter breadth of room: "))
a = l * b
print(a, "meters squared")

Enter the lenght of room : 8
Enter breadth of room: 9
72.0 meters squared

### Assignment

In [4]:
length = float(input("enter the length value:  "))
width = float(input("enter the width value:  "))
area = length * width
print("the area of room is ", area, "meters squared")

enter the length value:  3
enter the width value:  3
the area of room is  9.0 meters squared

In [10]:
length = float(input("enter the length of the field in cm:  "))
width = float(input("enter the width of the field in cm:  "))
ar = length * width  # converting cm squared to squared feet
sf = ar / 929  # converting squared feet to acre

area = (ar / 4.047 * 10 ** 7)
print("there are {0} squared feet in {1} acres".format(sf, area))

enter the length of the field in cm:  5
enter the width of the field in cm:  5
there are 0.02691065662002153 squared feet in 61774153.6940944 acres

In [15]:
a = float(input("enter quantity of containers in litres: "))
if a <= 1:
    b = a * 0.15
    print("the refund will be {0}$".format(b))
elif a > 1:
    b = a * 0.25
    print("the refund will be {0}$".format(b))
else:
    print("invalid input")

enter quantity of containers in litres: 0.9
the refund will be 0.135$

In [18]:
print("orders from magnus chuku in a restaurant loading ...")
garri, soup, meat, rice =  5000, 10000, 1500, 3500
print("garri: ", garri)
print("soup: ", soup)
print("meat: ", meat)
print("rice: ", rice)
total = garri + soup + meat + rice
tax = total * (15 / 100)
tip = total * (18 / 100)
print("grand total: ", total)
print("tax: ", tax)
print("tip: ", tip)

orders from magnus chuku in a restaurant loading ...
garri:  5000
soup:  10000
meat:  1500
rice:  3500
grand total:  20000
tax:  3000.0
tip:  3600.0

In [19]:
n = float(input("enter a positive number: "))
sum = ((n) * (n + 1)) / 2
print(sum)

enter a positive number: 5
15.0